{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Página de inicio {% endblock title %}</title>

{% block contenido %}

<h1>Acerca de nosotros</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi doloribus quaerat expedita nihil autem excepturi vel earum dolor temporibus, doloremque magnam modi magni voluptatem consequuntur, dolorem quae ullam sed! Explicabo.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quae suscipit ipsum, cupiditate nihil, repellendus et ex vitae dolor iure unde sed natus, aliquid harum impedit veritatis quia dignissimos! Rem.</p>

{% endblock %}
